layout: stacked
style: light

plugins:
  - jekyll-octicons
  - jekyll-github-metadata
  - jemoji

permalink: /:year/:month/:day/:title/

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "posts"
    values:
      layout: "post"

social_media:
  
  linkedin: qiang-ha-23946589
  Github: qiangha
  Cv: https://qiangha.github.io/Qiang_Ha_CV.pdf
 

